<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DaelShop</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script src="https://kit.fontawesome.com/1044801cf0.js" crossorigin="anonymous"></script>
</head>
<body class="d-flex flex-column h-100">

    @await Html.PartialAsync("_Header")

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer mt-auto border-top bg-light text-center text-muted py-3">
        <div class="container">
            &copy; 2024 - DaelShop - <a asp-area="" asp-controller="Home" asp-action="Privacy" class="text-muted">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/breadcrumb.js" asp-append-version="true"></script>
    <script>
        window.watsonAssistantChatOptions = {
            integrationID: "a1170578-bf76-4755-86e2-886e95f3c170", // The ID of this integration.
            region: "au-syd", // The region your integration is hosted in.
            serviceInstanceID: "387db4a2-fd5b-4c69-83a2-31d1dfbc8044", // The ID of your service instance.
            onLoad: async (instance) => { await instance.render(); }
        };
        setTimeout(function () {
            const t = document.createElement('script');
            t.src = "https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js";
            document.head.appendChild(t);
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>